.metis_fe--home-section-container {
  width: 100%;

  .title {
    line-height: 1.2;
    color: #ffffff;
    padding: 0 4rem;

    .text-underline {
      position: relative;
      z-index: 2;

      &:after {
        content: '';
        height: 12px;
        width: calc(100% - 20px);
        bottom: 4px;
        left: 10px;
        background-color: #01BCB1;
        position: absolute;
        opacity: 0.6;
        z-index: -1;
      }
    }

    .text-strong {
      position: relative;
      color: #88FFBF;
      background-image: linear-gradient(45deg, #12A9AF 0%, #63E3DD 33%, #88FFBF 66%, #CEA7FF 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .section-one {
    background: url('/images/bg.png');
    height: calc(100vh - 3.3rem);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .one-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-start;

      h1 {
        line-height: 2;
        margin: 2rem 0;
      }

      .title {
        font-size: 4rem;
      }
    }

    .contract-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50%;
      right: 4rem;
      transform: translateY(-50%);

      > a {
        margin: 1rem 0;

        img {
          height: 3rem;
        }
      }
    }
  }

  .section-two {
    background: #ffffff;

    .two-container {
      padding: 6.5rem 2rem;
  
      .title {
        margin-bottom: 4rem;
        color: #000000;
        padding-left: 46px;
        line-height: 1.2;

        .text-strong {
          position: relative;
          color: #8591FF;
          background-image: linear-gradient(180deg, #8591FF 0%, #8591FF 25%, #81E8FF 50%, #88FFBF 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
  
      .step-list {
        overflow-x: scroll;

        .step {
          margin: 0 16px;
          width: 330px;
          float: left;
        }

        .step-title {
          color: #000000;
          padding-left: 30px;
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
      }
    }
  }


  .section-three {
    background: linear-gradient(105.52deg, #1E1E1E 0%, #020202 100%);

    .three-container {
      padding: 6.5rem 2rem;
    }

    .title {
      line-height: 1.2;
      margin-bottom: 4rem;
      text-align: center;

      .text-strong {
        position: relative;
        color: #12A9AF;
        background-image: linear-gradient(75deg, #12A9AF 0%, #63E3DD 25%, #88FFBF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;

      img {
        width: 75%;
      }
    }

    .group-title {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    .item-list {
      display: flex;
      justify-content: space-between;
      margin-top: 6rem;

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }

      .item-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;

        @media (max-width: 767px) {
          flex: 50%;
        }  

        img {
          width: 4.25rem;
        }
      }

      .item-group-title {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }
    }

    .plus {
      margin-top: 7.25rem;
      
      p {
        font-size: 1.25rem;
        text-align: center;
        position: relative;
        color: #12A9AF;
        background-image: linear-gradient(75deg, #12A9AF 0%, #63E3DD 25%, #88FFBF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .section-five {


    .five-container {
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @media (max-width: 767px) {
      .block-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        
  
        .block {
          border-radius: 12px;
          background: linear-gradient(125.43deg, #3A3A3A 0%, #020202 78%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 3rem 0;
          margin: 2.5rem 6rem;
          height: 18rem;
          width: 26rem;
          font-weight: bold;
          font-size: 1.25rem;
  
          img {
            height: 6rem;
            width: auto;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .block-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        
  
        .block {
          border-radius: 12px;
          background: linear-gradient(125.43deg, #3A3A3A 0%, #020202 78%);
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2rem 0;
          margin: 2.5rem 6rem;
          height: 12rem;
          width: 16.75rem;
          font-weight: bold;
          font-size: 1.25rem;
  
          img {
            height: 3rem;
            width: auto;
            margin-bottom: 2.5rem;
          }
        }
      }
    }
  }

  .section-six {
    background: rgba(10,10,10,1);
    
    .six-container {
      padding: 6rem 0 8rem 0;
    }

    .title {
      text-align: center;
      line-height: 1.2;
    }

    .block-list {
      margin-top: 4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      .block {
        width: 25rem;
        height: 25rem;
        border-radius: 8px 0px 0px 8px;
        background: linear-gradient(125.43deg, #3A3A3A 0%, #222222 25%, #020202 78%);
        color: #cccccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        padding: 5.5rem 1rem;
        line-height: 2;

        .block-title {
          font-size: 2rem;
          line-height: 1.5;
          margin-bottom: 2.5rem;
          text-align: center;
          position: relative;
          color: rgba(18,169,175,1);
          background-image: linear-gradient(115.9deg, rgba(18,169,175,1) 1%, rgba(99,227,221,1) 31%, rgba(136,255,191,1) 58%, rgba(206,167,255,1) 93%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .block-content {
          font-size: 1.25rem;
          padding: 0 3rem;
          line-height: 1.6;
          text-align: center;
        }
      }

      @media(max-width: 767px) {
        flex-direction: column;

        .block {
          border-radius: 8px;
          margin: 2rem 0;
        }
      }
    }

    .items-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0.5rem;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 14.18rem;
        width: 14.18rem;
        padding-top: 4.25rem;

        > .item-icon {
          width: 2.5rem;
          margin-bottom: 2rem;
        }

        > .item-name {
          text-align: center;
          color: rgba(204,204,204,1);
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
  }
}